<!-- start header -->
<nav id="header" class="navbar navbar-default navbar-static-top">
   <div class="navbar-header">
       <div class="header-logo">
                <a class="navbar-brand" href="">
                   <div class="div-box-float-left div-logo">
                      <img class="logo" src="http://vignette4.wikia.nocookie.net/harrypotter/images/a/ae/Hogwartscrest.png/revision/latest?cb=20110806202805" alt="Hogwarts School of Witchcraft and Wizardry Logo"/>
                   </div>
               </a>
       </div>
       <div class="header-side-xs visible-xs">
       <div class="weather-main-xs">
        <weather-component></weather-component>
       </div>
       </div>
   </div>
   <div>
                   <div class="hidden-xs div-box-float-left school-name">
                    Hogwarts School of Witchcraft and Wizardry
                   </div>
       </div>
   <div class="navbar_utility hidden-xs" style="z-index:2000;">
       <form id="search-level-one nav-search" class="search" role="search">
           <label class="item-invisible" for="search-query-one">Search</label>
           <button class="btn btn-default btn-search" type="submit" aria-label="Search">
               <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
           </button>
           <input id="search-query" class="search-form-control" name="search-query" autocomplete="off" placeholder="Enter text to Search..." type="text">
       </form>
       <div class="btn-group-sm btn-group--app open nav-items">
           <!--button change color base on if the carriages going to be on time-->
           <a class="btn btn-default btn-nav-items btn-carriages-status">Carriages Status</a>
           <a class="btn btn-default btn-nav-items btn-contact" href="">Contact</a>
           <weather-component></weather-component>
       </div>
   </div>
   <!--header for small screen start here-->
    <div>
    <div class="navbar-header navbar-header-xs">
      <button type="button" class="visible-xs navbar-toggle res-btn" data-toggle="collapse" data-target="#headerNavbar">
       <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                      
      </button>
    </div>
    <div class="collapse navbar-collapse" id="headerNavbar">
      <ul class="nav navbar-nav-xs visible-xs-block">
      <li>
          <form id="search-level-one" class="search-form-control-xs" role="search">
           <label class="item-invisible" for="search-query-one">Search</label>
           <input id="search-query" class="search-form-input-xs" name="search-query" autocomplete="off" placeholder="Enter text to Search..." type="text">
           <button class="btn btn-search-xs" type="submit" aria-label="Search">
               <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
           </button>
       </form>
      </li>
      <li><a class="btn btn-default btn-nav-items btn-carriages-status-xs">Carriages Status</a></li>
      <li><a class="btn btn-default btn-nav-items btn-contact-xs" href="">Contact</a></li>
      </ul>
    </div>
  </div>
<!--</nav>-->
<!--header for small screen end here-->


<!-- end header-->


<!--<nav id="header" class="navbar-static-top navbar">
   <div class="navbar-header">
       <div class="header-logo">ng
                <a class="navbar-brand" href="">
                   <div class="div-box-float-left div-logo">
                      <img class="logo" src="../src/image/Hogwartscrest.png" alt="Hogwarts School of Witchcraft and Wizardry Logo"/>
                   </div>
               </a>
       </div>
       <div class="header-side-xs visible-xs">
       <div class="weather-main-xs">
        <weather-component></weather-component>
       </div>
       </div>
   </div>
   <div>
                   <div class="hidden-xs div-box-float-left school-name">
                    Hogwarts School of Witchcraft and Wizardry
                   </div>

           <a class="btn btn-default btn-nav-items btn-carriages-status">Carriages Status</a>
           <a class="btn btn-default btn-nav-items btn-contact" href="">Contact</a>
           <weather-component></weather-component>
   </div>
<div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="visible-xs navbar-toggle" data-toggle="collapse" data-target="#headerNavbar">
       <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                      
      </button>
    </div>
    <div class="collapse navbar-collapse" id="headerNavbar">
      <ul class="nav navbar-nav-xs visible-xs-block">
      <li>
          <form id="search-level-one" class="search-form-control-xs" role="search">
           <label class="item-invisible" for="search-query-one">Search</label>
           <input id="search-query" class="search-form-input-xs" name="search-query" autocomplete="off" placeholder="Enter text to Search..." type="text">
           <button class="btn btn-search-xs" type="submit" aria-label="Search">
               <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
           </button>
       </form>
      </li>
      <li><a class="btn btn-default btn-nav-items btn-carriages-status-xs">Carriages Status</a></li>
      <li><a class="btn btn-default btn-nav-items btn-contact-xs" href="">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>-->
